<h3>
  成功投资FOF五要素
</h3>
<div class="sub">作者：陈嘉禾</div>
<div class="sub">来源：证券时报</div>
<div class="sub">2017-08-06</div>
<div class="text">
<p>
  　　

  　　我们究竟应该如何投资基金？对于专门从事这种购买基金的基金来说，通用的名字就是FOF（基金中的基金，英文Fund of Fund）。这里，就让我们来看一下，如何才能专业的挑选到好基金，做一个好的FOF。
</p><p>
  　　许多投资者一谈到买基金，就说哪个哪个基金，最近业绩特别好，赶快可以买之类。殊不知，按照历史业绩去选择基金，几乎可以说盲人摸象，按图索骥，毫无准确率可言。
</p><p>
  　　一个基金最近一段时间的业绩，可以由很多原因决定：可能是标的资产表现特别好，可能是基金经理重仓压宝运气特别好，可能是过分使用杠杆（在私募基金中相对更常见一些），也有可能是正好赶上一个泡沫，年轻的基金经理不能识别泡沫，因此胆子特别大导致短期业绩特别好等等，不一而足。
</p><p>
  　　不管怎么说，一个基金最近业绩特别好，并不是一个很重要的指标，甚至根本不是一个有意义的指标：这就和看股票的股价走势选股票没什么区别。那么，到底应该如何选择基金，如何做一个好的FOF？
</p><p>
  　　首先，你得完全了解这个基金经理的投资哲学。说到底，FOF赚钱的根本来源，是选中的基金经理，其投资能力相对市场更高。因此，投资者需要非常了解这个基金经理的水平究竟如何，知识储备是否丰富、完整，投资哲学到底是怎样，是否有成熟、独立、大致准确的投资判断体系。
</p><p>
  　　但是如何判断一个素不相识的基金经理的水平呢？中医诊病有“望闻问切”四法。其实，判断一个基金经理的水平究竟如何，也可以通过类似的方法。
</p><p>
  　　所谓“望、闻”，就是通过基金经理历史上业绩的表现、选股的情况和当时市场的匹配程度，来判断基金经理的水平如何。比如历史上市场泡沫期间，基金经理反而买入了一些低估值的股票，不理会泡沫的疯狂，比如重仓股稳健、换手率低但业绩不错，这些都是发现一个好基金经理的方法。反之，则可能面对的是一个心浮气躁、毛手毛脚的基金经理。
</p><p>
  　　所谓“问、切”，就是看看基金经理的理论水平如何。而搜集一个人的理论水平，往往需要细致比较历史上各个信息来源提供的言论，而不是光看基金的宣传材料。比如在历史上接受采访时可以聊出非常有深度的判断，在大熊市中反而发表乐观的言论，长期的理论分析框架统一而不散乱，这些都是发现一个好基金经理的方法。
</p><p>
  　　其次，在寻找到好的基金经理以后，选择基金还要考虑这个基金经理的动机如何、所在的基金管理平台如何。
</p><p>
  　　如果一个基金经理很有水平，但所在的基金公司急功近利，逼迫他去追逐市场热点，或者利益机制不到位，不能调动优秀基金经理的全部动力，不能引起他努力的动机，那么基金的表现也会因此打折扣。
</p><p>
  　　就这点来说，一个稳定、市场化、开明包容、规范健康的平台，如同好的基金经理一样不可或缺。反过来，好的平台也会修正，规范基金经理的错误决策，从而降低基金投资失误的概率。
</p><p>
  　　最后，需要考虑的，则是所投资基金所在的大类资产的长期时点。
</p><p>
  　　正所谓“覆巢之下焉有完卵”。如果一个大类资产当时的市场情绪特别疯狂，价格特别贵，泡沫特别大，那么能力再优秀、动机再强的基金经理、资质再好的基金管理平台，也很难让投资者赚多少钱，充其量能做到不亏钱而已。
</p><p>
  　　举例来说，在A股2007年底到2008年底、2015年中到2016年，能够不亏钱的基金就已经是第一流的水平，赚钱的则凤毛麟角。反之，在2008年年底、2014年年中这些时点，即使是挑选一个“无人干预、自动管理”的指数基金，也都可以取得不错的收益。
</p><p>
  　　在挑选了优秀的基金经理、良好的基金管理平台和管理机制、不错的大类资产时点以后，我们离组建一个好的FOF就只差两步了：分散和耐心。
</p><p>
  　　电影《大空头》中，曾经引用过一句马克·吐温的名言：“让我们陷入困境的不是无知，而是看似正确的谬论和误断。”对于判断这件事来说，很难有人能保证自己的判断永远准确无误。因此，适度的分散、多选择一些基金，就成为保证FOF优益又稳健的必备方法。
</p><p>
  　　一旦按照以上的思路选定基金，良好的耐心就成为最后一个要素。任何优秀的基金都不可能长期一帆风顺，对于好的基金来说，短期业绩的低迷，反而往往预示着长期投资的机会。历史上鲍叔牙选管仲、秦穆公选孟明视，都不以暂时的失败而废贤才良将，最终才有所收获。因此，对于好的FOF投资来说，一旦选定标的，极佳的耐心和坚韧，就不可或缺。
</p><p>
  　　所以，选择优秀的基金经理、良好的管理平台、恰当的大类资产、适度的分散、耐心与坚韧，只有把这五者结合在一起，才能做成优秀的FOF。一个好的FOF，会让这个市场上最聪明的人努力帮你赚钱，投资者自己却从此不必再操劳忧虑，岂不懿欤。
</p><p>
  　　（作者系信达证券首席策略分析师、研发中心执行总监）
</p></div>
