<div style="height: 80px;"></div>
<div class="container-fluid">
  <div class="row">
    <div class="titles span2  col-xs-12 col-sm-3 col-md-2 rightList" id="rightList">
      <ul class="nav nav-stacked">
        <li class="title">基金工具</li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="cal-1">任/申购计算器</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="cal-2">赎回计算器</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="cal-3">收益计算器</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
