<div class="mytitle">风险教育</div>

<div style="margin: 20px">
  <div class="list-group">
    <a class="list-group-item" routerLink="/course/eduInfo1">
      <h4 class="list-group-item-heading">反洗钱新规 7 月实施 机构严查跨境交易真实背景</h4>
      <p class="list-group-item-text">来源：21 世纪经济报道</p>
    </a>
    <a class="list-group-item" routerLink="/course/eduInfo2">
      <h4 class="list-group-item-heading">非法证券活动九大问题破解</h4>
      <p class="list-group-item-text">来源：证监会网站</p>
    </a>
    <a class="list-group-item" routerLink="/course/eduInfo3">
      <h4 class="list-group-item-heading">牢固树立风险意识，防范非法证券活动</h4>
      <p class="list-group-item-text">来源：华泰资讯中心</p>
    </a>
  </div>
</div>
