<h3>
  《PPP条例（征求意见稿）》的10个纯法律问题
</h3>
<div class="sub">作者：宿辉</div>
<div class="sub">来源：PPP知乎</div>
<div class="sub">2017-08-03</div>
<div class="text">
<p>《基础设施和公共服务领域政府和社会资本合作条例（征求意见稿）》自公开征求意见以来，理论与实务界同仁热烈回应，关注重点与研究视角各有不同。作者不揣简陋，依PPP法律关系之蹊径，择核心问题简析于此，求教方家。
</p><p>一 PPP法律关系的政府方主体
</p><p>
  意见稿未对“政府”进行定义，而“政府”作为行政组织法中的概念，在我国法律中具有特定含义，即仅指中央人民政府和地方各级人民政府。《宪法》第八十五条规定：“中华人民共和国国务院，即中央人民政府，是最高国家权力机关的执行机关，是最高国家行政机关。”第一百零五条第一款规定：“地方各级人民政府是地方各级国家权力机关的执行机关，是地方各级国家行政机关。”
</p><p>
  意见稿中的“政府”与《民法总则》中的“机关法人”内涵应不一致。概因机关法人包括两种：一是有独立经费的机关；二是承担行政职能的法定机构。如此，意见稿中“政府”法律地位如何落实值得研究。
</p><p>【相关条文】第二条 本条例所称基础设施和公共服务领域政府和社会资本合作（以下简称政府和社会资本合作），是指政府采用竞争性方式选择社会资本方，双方订立协议明确各自的权利和义务，由社会资本方负责基础设施和公共服务项目的投资、建设、运营，并通过使用者付费、政府付费、政府提供补助等方式获得合理收益的活动。
</p><p>本条例所称社会资本方，是指依法设立，具有投资、建设、运营能力的企业。
</p><p>二 PPP法律关系的客体
</p><p>条例适用范围为基础设施和公共服务领域政府和社会资本合作，其中基础设施是指为社会生产和居民生活提供公共服务的物质工程设施，是用于保证国家或地区社会经济活动正常进行的公共服务系统。政府提供的基础设施既有主权事务，也有人权事务。而政府提供公共服务是为了提供基本保障、增进公平、促进基本消费均等化。属于人权事务领域。因此作为PPP模式适用的领域，如何界分“基础设施”和“公共服务”的范围？
</p><p>【相关条文】第三条 符合下列条件的基础设施和公共服务项目，可以采用政府和社会资本合作模式：
</p><p>（一）政府负有提供责任；
</p><p>（二）需求长期稳定；
</p><p>（三）适宜由社会资本方承担。
</p><p>国务院有关部门根据前款规定的条件，制定可以采用政府和社会资本合作模式的基础设施和公共服务项目指导目录，并适时调整。
</p><p>三 PPP合作项目协议的相对性
</p><p>政府实施机构通过采购程序确定中选社会资本方，却与项目公司签订合作项目协议，有违“合同相对性”原理，也不符合《政府采购法》关于“采购人与中标、成交供应商应当在中标、成交通知书发出之日起三十日内，按照采购文件确定的事项签订政府采购合同”的规定。
</p><p>【相关条文】第十四条 政府实施机构与其选定的社会资本方应当在协商一致的基础上签订合作项目协议；设立专门负责实施合作项目的公司（以下简称项目公司）的，合作项目协议由政府实施机构与项目公司签订。
</p><p>项目公司不得从事与合作项目实施无关的经营活动。
</p><p>四 PPP采购的法律适用
</p><p>意见稿回避了选择社会资本方采购程序适用《招标投标法》还是《政府采购法》，仅表明“采用竞争性方式”，但第十三条中进一步表明“通过招标、竞争性谈判等竞争性方式选择社会资本方”。由此可以推断《PPP条例（征求意见稿）》社会资本方采购适用《政府采购法》。
</p><p>意见稿第十三条同时规定“法律、行政法规对特定基础设施和公共服务项目选择社会资本方的方式有规定的，依照其规定”。即社会资本方的选择方式只能由法律、行政法规规定，因此排除了适用财政部发布的《政府采购竞争性磋商采购方式管理暂行办法》。
</p><p>【相关条文】第十三条  政府实施机构应当根据经审核同意的合作项目实施方案，通过招标、竞争性谈判等竞争性方式选择社会资本方，并将选定的社会资本方向社会公示。法律、行政法规对特定基础设施和公共服务项目选择社会资本方的方式有规定的，依照其规定。
</p><p>五 政府采购路径下PPP政府实施机构
</p><p>依据意见稿的规定，本级人民政府审核同意合作项目实施方案的，应当确定相关部门、单位作为政府实施机构，负责合作项目实施的相关工作。而实施机构的工作之一就是根据经审核同意的合作项目实施方案，通过招标、竞争性谈判等竞争性方式选择社会资本方。
</p><p>如前述，可推断PPP采购适用《政府采购法》，则适格的采购人只能是国家机关、事业单位、团体组织。因此，应对意见稿中的“部门”“单位”进行明确。
</p><p>【相关条文】第十二条  合作项目实施方案应当经本级人民政府审核同意。本级人民政府应当组织有关部门对合作项目实施方案进行联合评审。
</p><p>经本级人民政府审核同意的合作项目实施方案，由有关主管部门向社会公布。
</p><p>本级人民政府审核同意合作项目实施方案的，应当确定相关部门、单位作为政府实施机构，负责合作项目实施的相关工作。
</p><p>第十三条  政府实施机构应当根据经审核同意的合作项目实施方案，通过招标、竞争性谈判等竞争性方式选择社会资本方，并将选定的社会资本方向社会公示。法律、行政法规对特定基础设施和公共服务项目选择社会资本方的方式有规定的，依照其规定。
</p><p>六 政府采购路径下PPP的社会资本方
</p><p>意见稿定义“社会资本方”为依法设立，具有投资、建设、运营能力的“企业”。企业的文义解释，其范围应该既包括《民法总则》中的营利法人（包括有限责任公司、股份有限公司和其他企业法人），也应该包括部分非法人组织（个人独资企业、合伙企业）。但是作为《政府采购法》中的供应商需要具有独立承担民事责任的能力，因此个人独资企业和合伙企业是否可以参与PPP项目采购程序不无疑问。
</p><p>【相关条文】第二条 本条例所称社会资本方，是指依法设立，具有投资、建设、运营能力的企业。
</p><p>七 特许经营模式下合作项目协议的法律属性
</p><p>《行政诉讼法》司法解释规定：行政机关为实现公共利益或者行政管理目标，在法定职责范围内，与公民、法人或者其他组织协商订立的具有行政法上权利义务内容的协议，属于行政诉讼法规定的行政协议。并明确政府特许经营协议属于行政协议。
</p><p>意见稿通篇未体现“特许经营”字样，但是不可否认特许经营是世界范围内PPP的一种重要形式。政府方授予社会资本方特许经营权的项目合作协议，其法律属性为何？是一个无法回避的问题。
</p><p>【相关条文】第十四条 政府实施机构与其选定的社会资本方应当在协商一致的基础上签订合作项目协议；
</p><p>八 PPP项目合作协议争议解决方式
</p><p>意见稿对合作项目争议规定了四种解决途径，其中明确了PPP项目协议可诉讼、可仲裁，这无疑确立了PPP协议的民事合同属性，同时可合理推断出诉讼应适用民事诉讼程序，因为行政争议不具可仲裁性。由此产生的问题之一是，PPP合同采用民事诉讼程序将使得政府方摆脱人民法院对于行政行为的合法性审查。对于建设法治政府、保障依法行政是不利的。
</p><p>其次，2014年修改的《行政诉讼法》中取消了“具体行政行为”的概念，已将相关法条中的“具体行政行为”统一修改为“行政行为”。因此，建议本《条例》的相关表述应与《行政诉讼法》的表述保持一致，将“具体行政行为”修改为“行政行为”。
</p><p>【相关条文】第四十条  因合作项目协议履行发生的争议，可以依法申请仲裁或者向人民法院提起诉讼。
</p><p>第四十一条 对政府有关部门作出的与合作项目的实施和监督管理有关的具体行政行为，社会资本方认为侵犯其合法权益的，有陈述、申辩的权利，并可以依法提起行政复议或者行政诉讼。
</p><p>九 政府方违约责任与国家赔偿程序
</p><p>意见稿项目合作协议须载明事项中明确规定了“违约责任”，然而，政府方承担违约责任的适用程序和标准均有待明确。追究政府方违反PPP协议的损害赔偿责任如何解决损害赔偿金给付的法律程序。根据我国现有的法制资源，可供选择的途径要么准用民事法律的规定，要么依据《国家赔偿法》确定。
</p><p>如果准用民事法律规范，政府方承担违约责任并没有相应的预算安排；而适用国家赔偿程序，其责任产生于对职责的违反而非对合同义务的违反。可见，违约责任的程序适用存在两难。
</p><p>【相关条文】第十五条 合作项目协议应当符合招投标、竞争性谈判等文件，载明下列事项：……（十二）违约责任；
</p><p>十 社会资本方与项目公司法律责任混淆
</p><p>意见稿《条例》第四十七条规定，社会资本方或者项目公司有相关违法情形的，由有关政府部门责令处罚，甚至追究刑事责任。这一做法显然忽视了PPP项目公司中，政府方股东和社会资本方股东分别代表不同利益的客观实际，将一般公司治理结构中法律责任的一体性套用到PPP项目公司之上，因一方股东的过错使得另一方股东承担法律责任，并不符合PPP模式下政府和社会资本风险分担的原则。
</p><p>【相关条文】第四十七条 社会资本方或者项目公司有下列情形之一的，由政府有关部门责令限期改正，处20万元以上50万元以下的罚款；有违法所得的，没收违法所得；构成犯罪的，依法追究刑事责任：
</p><p>（一）项目公司从事与实施合作项目无关的经营活动；
</p><p>（二）在合作项目实施中违反法律、行政法规、规章、技术规范、强制性标准；
</p><p>（三）将合作项目的设施、土地使用权、项目收益权和融资款项用于实施合作项目以外的用途，或者以上述资产为他人债务提供担保；
</p><p>（四）合作项目争议解决期间，擅自中断公共服务的提供；
</p><p>（五）未妥善保管合作项目投资、建设、运营等方面的有关资料或者未按照规定向政府有关部门移交有关资料。
</p><p>对前款规定的情形，有关法律、行政法规对其行政处罚另有规定的，依照其规定。
</p></div>
