<div style="height: 80px;"></div>



<!--<form class="form-horizontal">-->
<div class="form-horizontal">
  <span class="heading">用户激活</span>
  <div class="form-group">
    <input type="email" class="form-control" id="inputTelephone" placeholder="手  机  号">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="inpuCheckCode" placeholder="手机校验码">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputPassword1" placeholder="LVfaith密码">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputBankNumber" placeholder="银行卡号">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputBankTele" placeholder="预留手机号">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="inputBankCheckCode" placeholder="手机校验码">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" routerLink="/host">立即激活</button>
  </div>
</div>
<!--</form>-->
