<div class="mytitle">PPP资讯</div>
<div style="margin: 20px">
<div class="list-group">
  <a class="list-group-item" routerLink="/information/ppp-11">
    <h4 class="list-group-item-heading">全国 PPP 入库项目落地投资额达 3.3 万亿元 </h4>
    <p class="list-group-item-text"> 2017-08-07</p>
  </a>
  <a  class="list-group-item" routerLink="/information/ppp-12">
    <h4 class="list-group-item-heading">《PPP 条例（征求意见稿）》的 10 个纯法律问题  </h4>
    <p class="list-group-item-text">2017-08-03</p>
  </a>
  <a class="list-group-item" routerLink="/information/ppp-13">
    <h4 class="list-group-item-heading">PPP 条例征求意见</h4>
    <p class="list-group-item-text">2017-07-25</p>
  </a>
  <a class="list-group-item" routerLink="/information/ppp-21">
    <h4 class="list-group-item-heading">福建省南平市光泽县“水美城市”（一期）工程 PPP 项目资格预审公告</h4>
    <p class="list-group-item-text"></p>
  </a>
  <a class="list-group-item" routerLink="/information/ppp-22">
    <h4 class="list-group-item-heading">乌鲁木齐红雁路（原东过境专用公路）改建工程 PPP 项目资格预审公告</h4>
    <p class="list-group-item-text"></p>
  </a>
  <a class="list-group-item" routerLink="/information/ppp-23">
    <h4 class="list-group-item-heading">永泰县生态主题公园等一揽子民生工程 PPP 项目资格预审公告</h4>
    <p class="list-group-item-text"></p>
  </a>
</div>
</div>
