<h3>
  全国PPP入库项目落地投资额达3.3万亿元
</h3>
<div class="sub">来源：中国财经报</div>
<div class="sub">2017-08-07</div>
<div class="text">
  <p>
财政部PPP中心日前发布了全国PPP综合信息平台项目库第7期季报，对全国PPP入库项目、PPP示范项目及PPP落地项目投资额等情况进行了通报。
  </p><p>政府和社会资本合作（PPP）“大数据”再一次如期发布。透过数据分析，持续三年多的PPP实践呈现出了哪些新特点、新趋势？
</p><p>
根据财政部PPP中心发布的第7期全国PPP综合信息平台项目库季报，以及其所提供的详实数据，记者对业界普遍关心的焦点问题进行了梳理。
</p><p>
全国入库项目13554个，累计投资额16.3万亿元
</p><p>
我国PPP市场的蓬勃发展令世界瞩目。截至目前，这个市场到底有多大？
</p><p>
根据财政部PPP中心的最新统计显示：截至2017年6月末，按照财政部相关要求审核纳入项目库的项目，即全国入库项目有13554个，总投资额达16.4万亿元，覆盖全国31个省（自治区、直辖市）及新疆兵团，19个行业领域。自2016年1月末至2017年6月末，全国PPP综合信息平台项目库月均增长项目386个、投资额4842亿元，PPP项目需求还在持续加大。
</p><p>
在这个十几万亿元级的PPP大市场上，全国PPP示范项目的表现一直被认为是重要的参照标杆。
</p><p>
从此次发布的统计数据来看，在项目库中，全国PPP示范项目共有700个、总投资额1.7万亿元。其中，2014年第一批PPP示范项目有22个、总投资额714亿元；2015年第二批PPP示范项目有162个、总投资额4846亿元；2016年第三批PPP示范项目有516个、总投资额11623亿元。
</p><p>
记者发现，此次发布的三批PPP示范项目总数与之前发布的数据略有出入。
</p><p>
财政部PPP中心相关负责人对此表示，这是因为有一些项目发生了退库。2014年第一批PPP示范项目最初为30个，后来陆续调出8个；2015年第二批PPP示范项目最初为206个，陆续调出44个，目前在库162个。
</p><p>
除了示范项目，记者注意到，在全国入库项目之中也有退库现象出现。季报数据显示，经审核把关，今年6月当月新入库项目495个；同时，经省级财政部门申请，退库73个项目。与2016年年末相比，今年上半年，经审核把关后新入库项目2632个，退库338个。
</p><p>
为什么会发生项目的退库？
</p><p>
财政部PPP中心相关负责人解释，经向省级财政部门了解，退库原因主要有三类：一是项目不再采用PPP模式。有的项目缺乏对社会资本的吸引力，有的总投资额过小或期限过短，有的已采用其他模式。二是项目停止。因征地受阻、前期手续不全或不符合PPP操作流程，有的项目无法推进，并已被政府叫停。三是项目整合与消除重复。一些项目在前期重复入库，近期逐步整合删减。
</p><p>
落地率34.2%，投资额3.3万亿元
</p><p>
PPP项目按全生命周期分为识别、准备、采购、执行和移交5个阶段。执行和移交两个阶段项目数之和与准备、采购、执行、移交4个阶段项目数总和的比值为项目落地率。
</p><p>
按照这个口径计算，截至6月末，在全国入库项目中，已签约落地的项目有2021个、投资额达到3.3万亿元，覆盖除天津、西藏以外的29个省（自治区、直辖市）及新疆兵团，19个领域，整体项目落地率为34.2%
</p><p>
仅从今年上半年的情况来看，PPP项目总体推进良好，识别、准备、采购阶段示范项目数和投资额均逐月减少，落地（即已签订PPP项目合同，进入执行阶段）项目数和投资额逐月增加。截至今年6月末，落地495个、投资额12390亿元，落地率达到71%。
</p><p>
从示范项目的落地率来看，第一批和第二批示范项目已100%落地。截至今年6月末，第三批示范项目已经落地311个，落地率为60.6%，环比增加15个落地项目，落地率提高2.9个百分点；与去年末相比，增加91个落地项目，落地率提高17.7个百分点。
</p><p>
从地域和行业领域来看，落地项目数前三位的地方是：山东、新疆和安徽，合计占落地项目总数的30.4%。落地项目数前三位的行业领域是：市政工程、交通运输以及生态建设和环境保护，合计占落地项目总数的64.3%。
</p><p>
“幸福产业”异军突起，落地投资额占比近10%
</p><p>
记者注意到，在本次发布的季报中，财政部PPP中心对“幸福产业”相关PPP项目情况进行了专门统计。
</p><p>
按照《国务院办公厅关于进一步扩大旅游文化体育健康养老教育培训等领域消费的意见》（国办发〔2016〕85号）的定义，“幸福产业”主要范围为旅游、文化、体育、健康、养老、教育培训等重点领域。
</p><p>
据介绍，从入库项目来看，“幸福产业”入库项目呈增长趋势，旅游作为“幸福产业”的排头兵，优势明显。
</p><p>
截至6月末，“幸福产业”项目数为3012个、投资额2.2万亿元，分别占当期项目总数和总投资额的22.2%和13.2%。与5月末相比，净增入库项目97个，净增投资额1013亿元；与2016年年末相比，净增入库项目为498个，净增投资额为4767亿元。
</p><p>
从落地项目看，截至6月末，“幸福产业”落地项目有318个、投资额2838亿元，分别占当期落地项目总数和投资额的15.7%和8.6%。与5月末相比，当月净增落地项目23个、投资额115亿元；与2016年年末相比，上半年净增落地项目128个、投资额1026亿元。
</p><p>
政府付费和可行性缺口补助类项目投资额占比近7成
</p><p>
一般而言，PPP项目的回报机制有三种：使用者付费、政府付费和可行性缺口补助。因为后两种回报机制涉及到政府财政资金的使用，所以业界及社会公众对采用这两种回报机制的项目一直格外关注。
</p><p>
从入库项目统计来看，截至6月末，使用者付费项目有4929个、投资额5万亿元，分别占入库项目总数和总投资额的36.4%和30.5%；政府付费项目4659个、投资额4.3万亿元，分别占入库项目总数和总投资额的34.4%和26.5%；可行性缺口补助项目3966个、投资额7万亿元，分别占入库项目总数和总投资额的29.2%和43.0%。
</p><p>
从今年上半年各月、2016年年末、2016年同期的三种回报机制项目数统计来看，政府付费类和可行性缺口补助类入库项目的比重基本上呈逐月、逐季度小幅上升趋势，使用者付费类入库项目的比重变化趋势则相反。
</p><p>
从落地项目来看，截至6月末，使用者付费类落地项目458个、投资额5333亿元，分别占落地项目总数和总投资额的22.7%和16.2%；政府付费类落地项目867个、投资额10276元，分别占落地项目总数和总投资额42.9%和31.2%；可行性缺口补助类落地项目696个、投资额17356亿元，分别占落地项目总数和总投资额的34.4%和52.6%。
</p><p>
记者 于丽
</p></div>
