.wrap {
  background: #fff;
  margin: 20px auto;
  display: block;
  width: 300px;
  height: auto;
  padding:20px;
  margin: 20px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
}

.wrap img {
  width: 100%;
  margin-top: 15px;
}

p{
  margin-top: 15px;
  text-align: justify;
}

h1{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

a{
  text-decoration: none;
  color: #4A4A4A !important;
}

a:hover{
  text-decoration: underline;
  color: #6B6B6B !important ;
}

.titles{
  background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(rgba(196, 166, 245, 0.32)), to(#f3f3f3), color-stop(.1,#fff));
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
  -webkit-border-bottom-right-radius: 60px 5px;
  padding-right: 2px;
  padding-bottom: 25px;
}
.mytitle{
  background-image: url("./assets/img/home_img/title3.png");
  background-repeat: no-repeat;
  height: 60px;
  text-align: left;
  padding-left: 90px;
  padding-top: 1px;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 1px 0px 2px #888888;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
