<div style="height:80px"></div>
<div class = "mytext">
<h2>
风险提示
</h2>



<p>
  本部分列明本网站的风险提示。阁下进入本网站及其任何网页，即已充分阅读、理解及同意下列条款。
</p><p>本网站所提及各基金概未获得中华人民共和国以外地区任何有关有权机构批准发售或购买。任何查阅本网站所载资料的人士，均有责任自行遵守其有关司法管辖区的所有适用法律法规及各相关条例。本网站各网页所载的资料，在某些国家／地区可能限制发布，而此等资料并非供身处或居于该等国家／地区的人士使用.
</p><p>本网站所载资料乃经过获取转载权所发。若在任何司法管辖区向任何人士派发该等资料、发售任何证券未获准许，则本网站概不构成对该司法管辖区派发资料、发售或邀请认购任何证券之行为。
</p><p> LVfaith平台尽力严谨处理本网站所载资料，但并不就其准确性作出保证，LVfaith相关人员并不就该等数据之任何错误或遗漏承担责任（包括任何第三者责任）。
</p><p>基金净值及其收益可升可跌，基金过往的业绩并不代表将来表现。LVfaith平台郑重提醒您注意投资风险，在进行投资前应以中国证监会指定的信息披露媒体机构上做出的正式公告和有关信息以及该种基金的基金管理人公开发布的信息为准。
</p><p>本网站所载商标、徽号和服务标志及其他任何数据的所有版权、专利权、知识产权及其它产权均属LVfaith平台或其关联公司所有。本网站所载资料受版权保护。未经LVfaith平台事前书面同意，不可对此等材料的任何部分有下列违约和/或侵权行为，该行为包括但不限于修改、翻版、储存于检索系统、传送、复制、分发或以任何其它方式作商业或公共用途。对于侵犯LVfaith平台合法利益之行为，LVfaith平台保留追究相关方责任的权利。
</p><p>LVfaith平台就本网站各项服务的安全、无误及不中断不承担任何明示或默示的保证责任。您同意自行承担使用本网站服务的所有风险及因该等风险可能造成的任何损害。
</p><p>您于此确认，您自己有完全的责任对您自己的计算机系统的硬件、软件、数据和各种操作、运用进行适当的防护、备份，对计算机病毒和/或任何对于计算机系统及其相关操作可能造成的侵袭、破坏、损害进行扫描、免疫、避免和防护。您于此确认，LVfaith平台对于您所使用本网站的各项服务、或无法使用各项服务所导致的任何直接、间接、衍生或特别损害，不应当承担任何法律责任。
</p><p>您已经充分了解到并同意，本网站可能因公司、其他合作方或相关电信部门的互联网软硬件设备故障或失灵、或人为操作失误、疏忽而全部或部分中断、延迟、遗漏、产生误导或造成资料传输或储存上的错误、或遭第三人侵入系统篡改或伪造变造资料等 ，LVfaith平台对此不承担任何责任。
</p><p>凡通过本网站与其他网站的链接，而获得其他网站所提供的网上资料、内容及服务，您应该自己进行辨别及判断，并应当由该等网站对其提供内容承担相应责任，LVfaith平台对此不承担任何责任。本网站提供超级链接至其它网站，并不视为同意、推荐、认可、保证或推介任何第三方或在其网站所提供的服务／产品，亦不可视为与该等第三方及网站有任何形式的合作。
</p><p>经互联网向LVfaith平台传送电子邮件信息，不保证完全安全。您经互联网传送信息时招致任何损失、或LVfaith平台按您的要求经互联网发出信息时导致的任何损失，LVfaith平台概不负责。
</p><p>LVfaith平台应当具有法律法规规定的其它相关免责规定项下的一切权利， LVfaith平台没有主张或迟延主张该等权利并不应当被视为LVfaith平台对于该等权利的弃权。
</p>



</div>
