<div class="mytitle">绿色产业基金资讯</div>
<div style="margin: 20px">
<div class="list-group">
  <a class="list-group-item" routerLink="/information/news-11">
    <h4 class="list-group-item-heading">“绿色”已成信贷新标准：发展迅速并实现突破 </h4>
    <p class="list-group-item-text">2017-06-20</p>
  </a>
  <a class="list-group-item" routerLink="/information/news-12">
    <h4 class="list-group-item-heading">央行马骏：绿金委将利用央行再贷款支持绿色信贷</h4>
    <p class="list-group-item-text">2017-04-15</p>
  </a>
  <a  class="list-group-item" routerLink="/information/news-21">
    <h4 class="list-group-item-heading">国外发展绿色金融经验借鉴及我国绿色金融发展问题与措施 </h4>
    <p class="list-group-item-text">2017-08-04</p>
  </a>
  <a  class="list-group-item" routerLink="/information/news-22">
    <h4 class="list-group-item-heading">创新试验区或为 G20 绿色金融发展探路</h4>
    <p class="list-group-item-text">2017-07-05</p>
  </a>
</div>
</div>
