<div style="height: 80px;"></div>
<div class="container-fluid">
  <div class="row">
    <div class="titles span2  col-xs-12 col-sm-3 col-md-2 rightList" id="rightList">
      <ul class="nav nav-stacked">
        <li class="title">绿投基地</li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="way">绿投走向</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="dangerEdu">风险教育</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="law">法律法规</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="wayforright">投资者维权</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10" >
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
