<div style="height: 80px;"></div>
<div class="container-fluid">
  <div class="row">
    <div class="titles span2  col-xs-12 col-sm-3 col-md-2 rightList" id="rightList">
      <ul class="nav nav-stacked">
        <li class="title">论坛</li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="initialBody">到处看看</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="edit">我要发帖</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="favorite">我的收藏</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10" >
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
