
<div style="height: 80px;"></div>
<div class="container-fluid">
  <div class="row">
    <div class="titles span2  col-xs-12 col-sm-3 col-md-2 rightList" id="rightList">
      <ul class="nav nav-stacked">
        <li class="title">资讯</li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="fof">FOF资讯</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="ppp">PPP资讯</a></li>
        <li class="SubTitle"><a class="SubTitleText" routerLink="news">绿色产业基金资讯</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10" >
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
