<h3>
  乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目资格预审公告
</h3>
<div class="sub">来源：中国政府采购网</div>
<div class="sub">2017-08-04</div>
<div class="text">

<p>
　　根据《中华人民共和国政府采购法》等有关规定，经政府采购管理部门批准，将对乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目资格预审公告进行招标，特邀请有意向的潜在供应商前来报名参加。
</p><p>


项目名称：乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目资格预审公告
</p><p>
项目编号：WZCG201701061
</p><p>
项目联系方式：
</p><p>
项目联系人：彭严
</p><p>
项目联系电话：13281149272

</p><p>

项目实施机构联系方式：
</p><p>
项目实施机构：乌鲁木齐市交通运输局
</p><p>
地址：新疆维吾尔自治区乌鲁木齐市南湖西路北二巷28号
</p><p>
联系方式：薛文君 电话：0991-4886302

</p><p>

代理机构联系方式：
</p><p>
代理机构：乌鲁木齐市公共资源交易中心（乌鲁木齐市政府采购中心）
</p><p>
代理机构联系人：周旭翔
</p><p>
代理机构地址： 0991--4184317
</p><p>


一、采购项目内容及预算金额
</p><p>
预算金额：75163.93 万元（人民币）
</p><p>
获取资格预审文件的时间：2017年08月07日 10:30 至 2017年08月11日 19:30(双休日及法定节假日除外)
</p><p>
获取资格预审文件的地点：新疆维吾尔自治区乌鲁木齐市南湖西路北二巷28号；联系人：彭严；联系电话：13281149272。
</p><p>
获取资格预审文件的方式：新疆维吾尔自治区乌鲁木齐市南湖西路北二巷28号；联系人：彭严；联系电话：13281149272
</p><p>


二、投标人的资格要求:
</p><p>
详见文件

</p><p>

三、采购项目需要落实的政府采购政策：
</p><p>
详见文件
</p><p>
四、审查标准、方法：
</p><p>
详见文件
</p><p>
五、资格审查日期：2017-08-31
</p><p>
资格预审申请文件递交截止时间：2017年08月31日 11:00  (双休日及法定节假日除外)
</p><p>
资格审查地点：乌鲁木齐市公共资源交易中心（乌鲁木齐市政府采购中心）7号开标厅（乌鲁木齐市益民大厦）
</p><p>
六、招标项目基本概况、用途、采购需求、数量、简要技术要求：
</p><p>
乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目
资格预审公告

</p><p>

依据乌鲁木齐市政府批复，乌鲁木齐市交通运输局委托乌鲁木齐市公共资源交易中心（市政府采购中心）对乌鲁木齐红雁路（原东过境专用公路）改建工程PPP 项目（以下简称“本项目”）以公开招标采购方式确定投融资、建设及运营单位。本次采购工作按照《中华人民共和国政府采购法》及《政府和社会资本合作项目政府采购管理办法》等有关法律法规组织和实施。现将资格预审有关事宜公告如下，特邀请符合条件的社会资本方（以下简称申请人）提出资格预审申请。
</p><p>
项目概况
</p><p>
项目名称：乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目</p><p>
项目编号：WZCG201701061</p><p>
授权主体：乌鲁木齐市人民政府</p><p>
实施机构：乌鲁木齐市交通运输局</p><p>
招标代理机构：乌鲁木齐市公共资源交易中心（乌鲁木齐市

政府采购中心）
</p><p>
采购方式：公开招标</p><p>
采购需求：本项目采购需求为乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目的社会资本。</p><p>
项目投资及建设规模：红雁路（原东过境专用公路）改建工程起点位于燕南立交东出口与燕儿窝路交叉口，终点至在建东二环路。线路位于东绕城与二环之间，西接河滩快速路、G314（雅山路）及规划城南经贸合作区，北接东绕城花儿连接线、东二环路。项目按城市主干路建设，全长9.35Km，道路规划红线宽度50m，本次实施断面宽度40m，两侧各预留5.0m宽绿化控制带。断面组成为：中央24m宽机动车道，两侧依次为3.5m宽绿化带、4.5m宽人行道。PPP项目范围包括道路工程、交通工程、照明工程、雨污水管线工程、绿化工程及照明电力土建工程等，具体以工可批复中政府投资范围为准。本项目投资估算总额为75163.93万元。
</p><p>项目合作模式：本项目以PPP模式操作，具体运作方式为BOT（建设－运营－移交），合作期为16年，其中建设期1年，运营期15年。本项目由社会资本出资100%组建项目公司，项目公司注册资本1亿元，投入的项目资本金比例为项目总投资的20％，由项目公司负责本项目的投资、建设、运营和移交工作。项目公司通过政府付费收回投资并取得收益。
</p><p>社会资本应具备的资格条件
</p><p>
参与本项目的社会资本申请人应具有以下资格条件：
</p><p>
符合《中华人民共和国政府采购法》第二十二条的规定：具有独立承担民事责任的能力；具有良好的商业信誉和健全的财务会计制度；具有履行合同所必需的设备和专业技术能力；有依法缴纳税收和社会保障资金的良好记录；参加政府采购活动前三年内，在经营活动中没有重大违法记录；法律、行政法规规定的其他条件。
</p><p>须为具有独立法人资格，自主经营、独立核算的公司，具备承担本项目的能力，2016年期末净资产不低于10亿元，资产负债率不超过85%。
</p><p>须具有建设行政主管部门颁发的市政公用工程施工总承包一级（含）以上资质，须具有有效的施工企业《安全生产许可证》。
</p><p>注册资本为 1 亿元人民币及以上。
</p><p>自2012年至资格预审申请文件递交截止日，在中国大陆地区至少有一个已完工的单项合同额在2亿元及以上的市政道路（或隧道、桥梁）施工项目业绩。
</p><p>具有足够的资本实力和相应渠道的融资能力，能履行建设义务：
</p><p>
提供2014年、2015年、2016年度的审计报告；</p><p>
财务状况良好，并有满足该项目经营必需的资金或者可靠的资金来源及相应偿债能力；</p><p>
其他能证明申请人有出资能力的文件。</p><p>
</p><p>
</p><p>申请人、申请人的法定代表人近三年内在检察机关行贿犯罪档案查询系统中无犯罪记录。
</p><p>关联方约束
</p><p>
单位负责人为同一人或者存在控股、管理关系的不同单位，不得同时参加本项目投标，否则，相关投标都将被否决。
</p><p>
上述条件可能会根据市场测试情况进行部分调整，以达到充分竞争和公开竞选的目的。
</p><p>
本次采购不接受联合体投标。</p><p>
资格报名表的填报及预审文件的获取</p><p>
申请人获得资格预审文件需下载并完整填写乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目报名表（详见1.8附件），并提供以下资料进行报名：
</p><p>
法定代表人身份证原件和身份证明原件或者法定代表人授权委托书原件、委托代理人身份证原件、委托代理人缴纳6个月以上的社保证明复印件（加盖公章），原件备查。
</p><p>营业执照、组织机构代码证及税务登记证复印件或三证合一营业执照副本复印件并加盖公章，原件备查。
</p><p>企业资质证书复印件加盖公章，原件备查。
</p><p>施工企业安全生产许可证副本复印件加盖公章，原件备查。
</p><p>商业银行对公司的不低于 2 亿元的授信协议复印件并加盖公章，原件备查。
</p><p>2014年-2016年依法缴纳税收和社保金的复印件并加盖公章，原件备查。
</p><p>开户许可证复印件并加盖公章，原件备查。
</p><p>无犯罪行贿记录档案及无重大违法记录声明函复印件并加盖公章，原件备查。
</p><p>报名时间： 2017 年8月7日至8月11日期间，每日上午 10:30-13:30（北京时间），下午 15:30-19:30（北京时间）。报名地点：乌鲁木齐市交通运输局建设管理处。地  址：新疆维吾尔自治区乌鲁木齐市南湖西路北二巷28号；联系人：彭严；联系电话：13281149272。
</p><p>资格预审文件的获取：根据本公告要求提供资料报名。证件及资料不全者，不予发售资格预审文件。
</p><p>资格预审文件递交截止时间、地点
</p><p>
申请人应当按照资格预审文件的要求准备完整的资格预审申请文件， 密封后递交至乌鲁木齐市公共资源交易中心（市政府采购中心）7号开标厅，逾期送达的资格预审文件不予受理。
</p><p>
申请人递交申请文件时应由法定代表人携带法定代表人身份证和身份证明原件，或者由委托代理人携带法定代表人授权委托书原件、委托代理人身份证原件及复印件以及委托代理人缴纳6个月以上的社保证明复印件（加盖公章），原件备查。
</p><p>
本项目资格预审文件所要求携带原件除身份证原件不密封外，其他原件均需与资格预审申请文件分开密封提交审查。
</p><p>
递交截止时间： 2017 年 8 月31日11时 0分；
</p><p>
递交地点：乌鲁木齐市公共资源交易中心（市政府采购中心）（乌鲁木齐市益民大厦）；
</p><p>
资格预审
</p><p>
资格预审时间：2017 年8月31日11时0分；
</p><p>
资格预审地点：乌鲁木齐市公共资源交易中心（乌鲁木齐市政府采购中心）7号开标厅（乌鲁木齐市益民大厦）；
</p><p>
逾期送达或密封不合格的资格预审申请文件， 不予受理。
</p><p>
资格审查</p><p>及确定潜在社会资本的方法

本资格预审采用有限数量制。审查委员会依据本文件规定的审查标准和程序，选取不超过四家符合条件的社会资本申请人。本项目通过资格预审的社会资本申请人不足三家的，项目实施机构应当在调整资格预审公告内容后重新组织资格预审。
</p><p>
合格社会资本申请人将在资格预审结束后在中国政府采购网和乌鲁木齐市政府采购网进行公示。未参加本次资格预审及资格预审不合格的申请人均不得进入后续公开招标程序。
</p><p>
联系方式
</p><p>
采购人：乌鲁木齐市交通运输局
</p><p>
地  址：新疆维吾尔自治区乌鲁木齐市南湖西路北二巷28号
</p><p>
联系人：彭严
</p><p>
电  话：13281149272
</p><p>
传  真：0991-3700595
</p><p>
招标代理机构
</p><p>
招标代理机构：乌鲁木齐市公共资源交易中心（市政府采购中心）
</p><p>
地  址：新疆维吾尔自治区乌鲁木齐市水磨沟区龙盛街益民大厦
</p><p>
联系人：周旭翔
</p><p>
电  话：0991-4184317
</p><p>
2017年8月7日
</p><p>



附件</p><p>

资格预审报名表</p>
<table>
<tr>
  <td>
文件名称
  </td>
  <td>
资格预审报名表

  </td>
</tr>
  <tr>
  <td>
项目名称

  </td>
  <td>

乌鲁木齐红雁路（原东过境专用公路）改建工程PPP项目

  </td>
  </tr>
  <tr>
  <td>
项目编号


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


报名时间


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


报名联系人姓名


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


报名联系人电话及邮箱


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


报名联系人传真


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


公司名称



  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>

公司地址


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


法定代表人姓名


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


法定代表人联系方式


  </td><td>&nbsp;</td>
  </tr>
  <tr>
  <td>


所需带资料情况

  </td>
  <td>
<p>
法定代表人身份证原件和身份证明原件或者法定代表人授权委托书原件、委托代理人身份证原件及委托代理人缴纳6个月以上的社保证明复印件（加盖公章），原件备查。
营业执照、组织机构代码证及税务登记证复印件或三证合一营业执照副本复印件并加盖公章，原件备查。
  企业资质证书复印件加盖公章，原件备查。</p><p>
施工企业安全生产许可证副本复印件加盖公章，原件备查。</p><p>
商业银行对公司的不低于 2 亿元的授信协议复印件并加盖公章，原件备查。</p><p>
2014年-2016年依法缴纳税收和社保金的复印件并加盖公章，原件备查。</p><p>
开户许可证复印件并加盖公章，原件备查。</p><p>
无犯罪行贿记录档案及无重大违法记录声明函复印件并加盖公章，原件备查。</p>

  </td>
  </tr>

</table>

  <p>
  七、其它补充事宜：

</p><p>

  PPP项目信息如下：
</p><p>
  项目授权主体名称：乌鲁木齐市人民政府
</p><p>
  是否允许联合体： 否
</p><p>
  是否限定社会资本数量：是
</p><p>
  限定社会资本方法及标准：
</p><p>
  详见文件
</p><p>
  是否采购本国货物和服务：是
</p><p>
  技术引进和转让要求：
</p><p>
  详见文件
</p><p>
  对社会资本参与采购活动和履约保证的担保要求：
</p><p>
  详见文件</p>
</div>div>
