.shell{
  margin:50px;
  font-size: x-large;
  font-weight: 900;
  opacity: 0.8;
  box-shadow: 2px 1px 2px;
}
h3{
  font-size: x-large;
  text-shadow: 1px 1px 1px;
}
.mytitle{
  background-image: url("./assets/img/home_img/title3.png");
  background-repeat: no-repeat;
  height: 60px;
  text-align: left;
  padding-left: 90px;
  padding-top: 1px;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 1px 0px 2px #888888;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
