<div class="mytitle">绿色产业基金</div>

<div style="margin: 20px">
<table class="table">
  <thead>
  <tr class="myline"><th>基金</th><th>单位净值</th><th>累计净值</th><th>净值日期</th><th>成立日期</th><th>近一年收益率</th><th>成立以来收益率</th><th>操作</th></tr>
  </thead>
  <tbody>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  <tr class="myline"><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td>25</td><td><a routerLink="/fund/fundDetails">了解详情</a></td></tr>
  </tbody>
</table>
</div>
