header,footer,section,aside,article,hgroup,div,nav{
	border: 0px dotted #E7C3C3;
}
img{
	max-width: 100%;
	height: ;
}
body{
	padding-top: 50px;
}
.navbar-inverse input[type="text"]{
	background:#FAF2CC;
	border:none;
	color:#080808;
	position: relative;
}

.navbar-inverse .navbar-form{
	position: relative;
}
.navbar-inverse button[type="submit"]{
	position: absolute;
	top:29%;
	right:18px;
	background: none;
	border : none;
}

.navbar-inverse .glyphicon{
	color: #222222;
}
@media(min-width :768px){
	.navbar-inverse button[type="submit"]{
		top:15%;
	}
}
.profile{
	margin-right: 16px;
}
















