<div style="height:80px"></div>
<div class = "mytext">
  <h2>
关于我们
  </h2>


<h3>公司愿景及使命</h3>
  <p>
    LVfaith平台旨在向大众投资者公开募集资金，通过FOF 基金的形式，将母基金私募投资于绿色产业基金，在为 PPP 模式下解决绿色产业建设融资难的困难的同时，帮助大众投资者理财，获得更好的收益。
  </p>
  <p>
    LVfaith平台通过以网页的形式，将PPP 模式下绿色产业基金的FOF新模式体现出来，为国家的绿色产业发展提供一站式的融资渠道；利用国家政策支持和FOF基金特有的双重分散风险优势，为家庭和个人提供低风险高收益的理财产品和渠道。产品覆盖国家PPP模式下的所有绿色产业，制定基金时通过多种策略结合，以保证基金的可靠和收益。
  </p>
  <h3>网站特色</h3>
  <h4>项目优质:</h4>
  <p>
    平台提供的基金均为PPP模式下的绿色产业基金，在众多基金风声雀起的浪潮中保证了项目的“高质”。
  </p>
  <h4>资金安全:</h4>
  <p>
    花旗银行保证客户资金安全。客户交易结算资金专户存放，由监督银行（花旗银行）全程监管；监管银行（花旗银行）对客户每笔交易资金监管，确保资金处于始终处于封闭、可控、可查的状态；客户开户时关联绑定本人的银行结算账户，客户资金的转入、转出只能通过绑定账户办理，确保资金流向安全。
  </p>
  <h3>团队文化</h3>
  <p>
    庆骏琦心，婷晴花雨，志顺钊扬。
  </p>
  <p>
    一句12字箴言包含了本平台创立初始的全部12名核心成员，在“精诚所至金石为开”理念的带领下，“金诚所至”团队一步步向前为用户提供最好的产品和服务。
  </p>
</div>
