.masterShow{
  margin-top: 10px;
}
.list-group{
}
img{
  height: 50px;
}
.list-group a {
  background-color: #FFFFFF;
  margin: 6px;
  margin-left: 1px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  text-align: left;
  font-weight: 300;
  font-size: larger;
}
li a {
  margin: 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0px;
  box-shadow:  2px 2px 4px #777;
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-bottom-width: 0;
  font-size: large;
  font-weight: 700;
}
.dropdown-menu li a {
  margin: 0px;
  box-shadow:  0px 0px 0px;
  font-weight: lighter;
}
.mytitle{
  background-image: url("/src/assets/img/home_img/title3.png");
  background-repeat: no-repeat;
  height: 60px;
  text-align: left;
  padding-left: 90px;
  padding-top: 1px;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 1px 0px 2px #888888;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}
