<div class="mytitle">到处看看</div>
<!--<div class="masterShow">-->
  <!--<ul class="list-inline" style="height: 50px">-->
    <!--<li style="height: 80px">LOGO</li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
    <!--<li><a href="#ios"><img src="./assets/img/123.jpg"/> </a><li>-->
  <!--</ul>-->
<!--</div>-->

<!-- tab标签 -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active">
    <a href="#home" data-toggle="tab">
      专家点评
    </a>
  </li>

  <li>
    <a href="#ios" data-toggle="tab">
      热门话题
    </a>
  </li>
  <li class="dropdown">
    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
      投资交流
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
      <li><a href="#jmeter" tabindex="-1" data-toggle="tab">绿色产业</a></li>
      <li><a href="#ejb" tabindex="-1" data-toggle="tab">FOF基金</a></li>
    </ul>
  </li>
</ul>

<!-- 每个tab页对应的内容 -->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="ios">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="jmeter">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="ejb">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
</div>



<!-- tab标签 -->
<ul id="myTab2" class="nav nav-tabs">
  <li class="active">
    <a href="#home2" data-toggle="tab">
      专家点评
    </a>
  </li>

  <li>
    <a href="#ios2" data-toggle="tab">
      热门话题
    </a>
  </li>
  <li class="dropdown">
    <a href="#" id="myTabDrop2" class="dropdown-toggle" data-toggle="dropdown">
      投资交流
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
      <li><a href="#jmeter2" tabindex="-1" data-toggle="tab">绿色产业</a></li>
      <li><a href="#ejb2" tabindex="-1" data-toggle="tab">FOF基金</a></li>
    </ul>
  </li>
</ul>

<!-- 每个tab页对应的内容 -->
<div id="myTabContent2" class="tab-content">
  <div class="tab-pane fade in active" id="home2">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="ios2">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="jmeter2">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
  <div class="tab-pane fade" id="ejb2">
    <div class="list-group">
      <a  class="list-group-item" routerLink="/forum/details" style="margin-top: 0px">Cras justo odio </a>
      <a  class="list-group-item" routerLink="/forum/details">Dapibus ac facilisis in</a>
      <a  class="list-group-item" routerLink="/forum/details">Morbi leo risus</a>
      <a  class="list-group-item" routerLink="/forum/details">Porta ac consectetur ac</a>
      <a  class="list-group-item" routerLink="/forum/details">Vestibulum at eros</a>
    </div>
  </div>
</div>


