<h3>
  创新试验区或为G20绿色金融发展探路
</h3>
<div class="sub">作者：王勇</div>
<div class="sub">来源：上海证券报</div>
<div class="sub">2017-07-05</div>
<div class="text">
  <p>
  　　进入“十三五”以来，在政府推动、市场发挥主体作用下，我国绿色金融市场已迈入了绿色金融立体化发展的新阶段。我国绿色信贷已占国内全部贷款余额近10%，成为全球最大的绿色债券市场。如今，中国政府决定在全国范围内选择部分省份建设绿色金融改革创新试验区，可以说是绿色金融立体化发展的又一战略布局。我们热切期待绿色金融改革创新试验区五大任务能尽早获得突破性进展，这不仅将助推中国经济的绿色转型，更能为G20绿色金融发展做出重大贡献
  </p><p>
  　　第十二次G20峰会本周五将在德国最重要的海港和最大的外贸中心汉堡开幕。在去年的G20杭州峰会上，作为今年G20主席国的德国就宣布将继续在G20财金渠道讨论绿色金融议题，中国人民银行和英格兰银行将继续担任G20绿色金融研究小组共同主席。德国作出这样的决定，是因为中国在绿色金融的研究和探索方面已经走在了G20的前列。
</p><p>
  　　就在几天前，国务院常务会议决定，在浙江、江西、广东、贵州、新疆5省（区）选择部分地方，建设各有侧重、各具特色的绿色金融改革创新试验区，在体制机制上探索可复制、可推广的经验，推动经济绿色转型升级。随后，央行等六部委联合印发了这五个省（区）各自的总体方案。所以，从战略视角看，可以说绿色金融改革创新试验区不仅为中国，而且也在为G20绿色金融发展探路。
</p><p>
  　　发展绿色经济，离不开绿色金融体系的强大支撑。去年3月发布的我国“十三五”规划纲要明确提出建立绿色金融体系，发展绿色信贷、绿色债券、设立绿色发展基金。去年8月底，央行等七部委发布了《关于构建绿色金融体系的指导意见》（以下简称《指导意见》），首次给出了绿色金融的“官方”定义，即对环保、节能、清洁能源、绿色交通、绿色建筑等领域的项目投融资、项目运营、风险管理等所提供的金融服务。《指导意见》中提出的绿色金融体系，还包括了绿色信贷、绿色债券、绿色股票指数及相关产品、绿色发展基金、绿色保险、碳金融等所有主要金融工具和相关政策，支持经济向绿色化转型的制度安排。构建绿色金融体系主要目的，是动员和激励更多社会资本投入绿色产业，同时更有效地抑制污染性投资。眼下，我国的绿色信贷已占国内全部贷款余额近10%，成为全球最大的绿色债券市场。但要建成完整的绿色金融体系，还有很长的路要走。构建绿色金融体系，不仅有助于加快我国经济向绿色化转型，支持生态文明建设，也有利于促进环保、新能源、节能等领域的技术进步，加快培育新的经济增长点，提升经济增长潜力。
</p><p>
  　　在我国的倡议下，去年9月，G20绿色金融研究小组在G20杭州峰会上提交的《G20绿色金融综合报告》提出了一系列供G20和各国政府自主考虑的可选措施，包括提供支持绿色投资的政策信号；推广绿色金融自愿原则；扩大能力建设网络；支持本币绿色债券市场发展；推动跨境绿色债券投资；推动环境风险问题的研讨；完善绿色金融指标体系等。可以说，该报告是《巴黎协定》的具体贯彻和落实。鉴于《巴黎协定》的落实难度之高，各国需要付出艰辛的努力。尤其是美国总统特朗普在上月初宣布美国退出《巴黎协定》后，全球绿色金融发展必定会面临不少新的障碍。
</p><p>
  　　世人看到，早在去年9月中国全国人大常务委员会就批准了《巴黎协定》，向G20乃至全球表明了中国的态度。实际上，进入“十三五”以来，在政府推动、市场发挥主体作用下，中国的绿色金融市场已迈入了绿色金融立体化发展的新阶段。首先，市场对绿色理念的认识和认同逐步提升，市场的参与主体越来越多元化。其次，绿色金融产品不断丰富，绿色基金、绿色股票指数、绿色债券指数、碳金融创新产品等不断涌现，并且绿色金融产品与实体经济的关联，以及对产业的支撑作用日益紧密。再次，绿色金融的标准体系正在成形，包括绿债的认证和披露、绿色评级方法、环境压力测试等方面都有新的进展，这为绿色金融未来的规模化、规范化发展打下了基础。笔者这里最想提及的是，银行业依然是中国绿色金融市场的主导力量。
</p><p>
  　　根据中国银行业协会、普华永道会计师事务所今年2月共同发布的《中国银行家调查报告（2016）》，近九成（88.9%）受访的银行家认为当前开展绿色金融将对银行经营产生正面影响，包括降低行业信贷风险、分享经济结构调整红利、开拓海外市场等，有利于商业银行长期的发展。另外，几乎所有受访银行家（97%）都预计，绿色金融在未来五年内有望成为银行业务最不可忽视的一部分，甚至成为主要的经营发展方向。除了原先在绿色金融领域先行一步的部分股份制银行及国有大行，今年上半年有更多银行迈出了探索的步伐。如江苏银行宣布采纳“赤道原则”，成为继兴业银行后中国大陆地区采纳赤道原则的第二家银行。大同绿色商业银行方案5月16日通过评审，进入组织筹建阶段，有望成为我国首家绿色银行。此外，还有更多银行业机构发行或者参与发行、承销了各类绿色债券、债务融资工具等。
</p><p>
  　　如今，中国政府决定在全国范围内选择部分省（区）建设绿色金融改革创新试验区，可以说这是中国绿色金融立体化发展的又一战略布局，对在G20引领绿色金融发展及全球继续履行《巴黎协定》意义重大。毕竟，发展绿色金融对于我们是新生事物，有太多东西需要探索，所以需要选择部分地方先行试验，在体制机制上探索可复制、可推广的经验。由此，高层强调，五省（区）的绿色金融改革试验必须从各自实际出发，各有侧重。模式设计要突出地方特色，形成各地协同发展、优势互补、良性互动的局面。而据央行副行长陈雨露在吹风会上的介绍，五省（区）绿色金融改革创新方案各具特色、各有侧重，而且还有所创新。
</p><p>
  　　比如，广东省广州市的绿色金融试验区将支持试验区外资企业的境外母公司或子公司按规定在境?银行间市场发行人民币绿色债券，支持港澳地区机构投资者按程序在试验区内开展合格境外有限合伙人（QFLP）业务，参与境内绿色私募股权投资基金和绿色创业投资基金投资。浙江省湖州市、衢州市方案揭示的绿色金融思路则是，支持符合条件的民间资本发起设立民营银行、证券公司和保险公司等，重点支持地方生态环境建设和绿色产业发展；支持符合条件的“两高六新”绿色企业在中小板、创业板和主板上市等等。
</p><p>  　　我们热切期待绿色金融改革创新试验区五大任务能尽早获得突破性进展，这不仅将更好地发挥绿色金融助推中国经济绿色转型的积极作用，更能为G20绿色金融发展作出重大贡献。
</p></div>
