<div style="height: 80px;"></div>



        <!--<form class="form-horizontal">-->
        <div class="form-horizontal">
          <span class="heading">用户注册</span>
          <div class="form-group">
            <input class="form-control" id="inputTelephone" placeholder="手 机 号" (keyup)="setTele($event)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword1" placeholder="密  　码" (keyup)="setPsd1($event)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword2" placeholder="确认密码" (keyup)="setPsd2($event)">
          </div>
          <div class="form-group">
            <p style = "color:red;">{{alertMsg}}</p>
            <!--<button type="submit" class="btn btn-default" (click)="enroll()">注册</button>-->
            <button class="btn btn-default" (click)="enroll()">注册</button>
          </div>
        </div>
        <!--</form>-->
