.wrap {
  background: #fff;
  margin: 5px;
  display: block;
  padding:20px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
}
a.list-group-item {
  background: #fff;
  display: block;
  padding:20px;
  margin: 6px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
h4{
  text-align: left;
}
p{
  text-align: left;
}
.left{
  height:80px;
  border-left-width: 2px;
  border-style: solid;
  border-color: #28a4c9;
}
.right{
  height:80px;
  border-right-width: 2px;
  border-style: solid;
  border-color: #28a4c9;
}
.lr{
  height:80px;
  border-left-width: 2px;
  border-style: solid;
  border-color: #28a4c9;
  border-right-width: 2px
}
.mytext{
  font-size: larger;
  font-weight: 500;
  text-shadow: 1px 1px 1px #888888;

}
.mytitle{
  background-image: url("./assets/img/home_img/title3.png");
  background-repeat: no-repeat;
  height: 60px;
  text-align: left;
  padding-left: 90px;
  padding-top: 1px;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 1px 0px 2px #888888;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
