<div class="mytitle">购买产品</div>

  <div class="input-group myinputshell">
    <span class="input-group-addon myinput">购买基金</span>
    <input class="form-control myinput"  placeholder="基金名称" >
  </div>
  <div class="input-group myinputshell">
    <span class="input-group-addon myinput">购买金额</span>
    <input class="form-control myinput"  placeholder="购买金额" >
    <span class="input-group-addon myinput">元</span>
  </div>
  <div class="input-group myinputshell">
    <span class="input-group-addon myinput">购买金额</span>
    <input class="form-control myinput"  placeholder="购买金额" >
    <span class="input-group-addon myinput">元</span>
  </div>
<div class="btn-toolbar mybtnshell" role="toolbar">
  <div class="btn-group">
    <div style="font-size: larger;font-weight: 500;margin-bottom: 20px;text-align: left;font-weight: bold">
      支付方式选择：
    </div>
    <button type="button" class="mybutton btn btn-warning">储蓄罐</button>
    <button type="button" class="mybutton btn btn-warning">银行卡</button>
  </div>
</div>

  <div style="margin:20px">
  <input type="checkbox" style="float: left;height: 16px;width: 16px">
    <div style="float:left;font-size: larger;font-weight: 500;margin-bottom: 20px;text-align: left;font-weight: bold">
    我已阅读并同意（相关条款）
    </div>
  </div>

  <div style="color: transparent">__________________________________________________</div>

<button class="btn btn-primary" style="font-weight:900; font-size: medium;height: 40px;width:120px;margin: 20px" >下一步</button>
